body {
    margin: auto;
    background: grey;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    margin: auto;
    width: 575px;
    height: 387px;
    border-radius: 15px;
}

#timer{
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    width: 570px;
    height: 150px;
    border-radius: 5px;
    margin: 10px auto auto auto;
}

#home-title, #guest-title, #timer-title {
    width: 149px;
    height: 36px;
    font-family: Verdana;
    font-size: 40px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    color: #EEEEEE
}

#timer-title {
    align-self: center;
}

#home-title{
    top: 68px;
    left: 85px;
}

#guest-title{
    top: 68px;
    right: 85px;
}

#content-2, #content-1 {
    width: 155px;
    height: 120px;
    background: black;
    font-family: Cursed Timer ULiL;
    font-size: 90px;
    font-weight: 400;
    line-height: 126.67px;
    align-self: center;
    margin: auto;
    border-radius: 5px;
}

#content-3 {
    width: 220px;
    height: 110px;
    background: black;
    font-family: Cursed Timer ULiL;
    font-size: 90px;
    font-weight: 400;
    line-height: 126.67px;
    align-self: center;
    margin: auto;
    border-radius: 5px;
}

#home-scores, #guest-scores{
    width: 117px;
    height: 120px;
    top: 125px;
    left: 100px;
    font-family: Cursed Timer ULiL;
    font-size: 90px;
    font-weight: 400;
    line-height: 126.67px;
    text-align: center;
    color: #F94F6D;
}

#time {
    width: 115px;
    height: 100px;
    position: relative;
    bottom: 105px;
    left: auto;
    font-family: Cursed Timer ULiL;
    font-size: 90px;
    font-weight: 400;
    line-height: 126.67px;
    align-content: center;
    color: #F94F6D;
}

#scores-1, #scores-2 {
    width: 155px;
    height: 45px;
    top: 271px;
    left: 82px;
    gap: 0px;
    margin: 15px;
    align-content: center;
}

button{
    width: 48.7px;
    height: 45px;
    font-family: Cursed Timer ULiL;
    font-size: 25px;
    background: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px 0px 5px 0px;
    align-self: center;
}

button:hover {
    box-shadow: 0 1px 3px 3px #9AABA0;
}

button.startGame{
    width: auto;
    height: auto;
    align-self: center;
    margin: auto 5px auto 5px;
}

#message{
    height: 30px;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: auto;
}
